@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Playwrite+IT+Moderna:wght@100..400&display=swap');
*{

  /* font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal; */
}

/* src/App.css */
.App {
  text-align: center;
}


/* // header css    */

.container-header {
  font-family: "Playwrite IT Moderna", cursive;
  font-optical-sizing: auto;
  /* max-width: 1100px; */
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  height: 60px;
  background-color: #fee5fc;
  position: relative;
  display: block !important;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 40px;
}

.nav-elements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.nav-elements ul a.active {
  color: #574c4c; 
  font-weight: 500;
  position: relative;
}

.nav-elements ul a.active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #574c4c;
}

@media (max-width: 768px) {
  .nav-elements ul li:not(:last-child) {
    margin-right: 30px;
  }
}
.nav-elements ul li {
  margin-right: 50px;
}
@media (max-width: 600px) {
  .menu-icon {
    display: block;
    cursor: pointer;
  }
  .nav-elements ul li {
    margin-right: 40px !important;
  }
  .nav-elements ul li {
    margin-right: 80px;
  }
  .nav-elements {
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #fff9e6;
    width: 0px;
    height: calc(100vh - 60px);
    transition: all 0.3s ease-in;
    overflow: hidden;
  }

  .nav-elements.active {
    width: 270px;
  }

  .nav-elements ul {
    display: flex;
    flex-direction: column;
  }

  .nav-elements ul li {
    margin-right: unset;
    margin-top: 22px;
  }
}

.loginBtn{
  font-weight: 900;
  padding: 9px;
  background-color: purple;
  color:white;
  border-radius: 85px;
}
.downloadBtn{
  font-weight: 900;
  padding: 9px;
  background-color: rgb(0, 51, 128);
  color:white;
  border-radius: 85px;
}
.logoTitle{
  font-size: 1.5rem;
  font-weight: 900;
  color: purple;
  font-style: italic;
}

.form_page{
  background-color: #c8a0ed;
  height: 100vh;
}
.img_page{
  background-color: aliceblue;
}
.form_body{
  padding: 20px;
  text-align: left !important;
}
.btn{
  text-align: left;
}

.postLocationDiv{
  position: absolute;
  z-index: 99999;
}
.App-body{
position: relative;
}
.imgBanner{
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slider{
  text-align: left;
  padding: 80px;
}
.category-slider{
  padding: 20px;

}
.cardDiv{
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
.container h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 2.5rem;
}
.container{
  padding-top: 20px;
}
.cardDetails{
  text-align: left;
}
.card {
  border-width: 0px !important;
}
.cardImg{
  width: 100% !important;
  border-radius: 20px !important;
}
.trendingServiceDiv h4{
  text-align: left;
  padding-top: 30px;
}
.card-body {
  padding-top: 0px !important;
}
.card-title {
margin-bottom: 1px !important;
}
.recomandDiv h4{
  text-align: left;

}

.subCategoryCard{
  border-radius: 22px !important;
  align-items: center;
  /* background-color: #bda5ff !important; */
  box-shadow: 2px 2px 1px #ccc;
  -webkit-box-shadow: 2px 2px 1px #ccc;
  -moz-box-shadow: 2px 2px 1px #ccc;
  text-align: center;
  display: flex !important;
  flex-direction: row-reverse !important;
}
.subCategoryCard img{

  border-radius: 22px !important;

  width: 100px;
}
.subCategoryCard .card-body{
}

.category-slider{
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.category-slider img {
  width: 120px;
  text-align: center !important;
  height: 120px;
}
.category-slider-font-title{
  text-decoration: none;
  font-size: 15px !important;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400 !important;
}
.category-slider-font-title a{
  text-decoration: none;
  color: #2f234f;
 }
.slick-slide img{
  display:inline !important;
  justify-content: center !important;
}
.service-card-col{
  display: flex !important;
  justify-content: center !important; 

}
.serviceCard{
  
}
.services-image{
  height: 60px;
  width: 60px ;
  border-radius: 20px;

}
.service-name{
  padding-top: 4px;
  font-size: 10px;
  color: #292828;
}
.service-title-name{
  font-size: 16px;
}
.cart{

  padding: 30px;
  height: fit-content;  
}

.serviceVariantsDiv{
  padding: 8px;
  border-color: #35353662 !important;
  border-radius: 18px;
  border-style:solid;
  border-width: 0.5px;
  height: fit-content; 
  text-align: left; 
}
.serviceDescription{
  font-size: 9px;
  font-weight: 100px;
  padding-top: 2px;
}

.servicesPageDisplayDiv{
  padding: 10px;
  border-color: #35353662 !important;
  border-radius: 18px;
  border-style:solid;
  border-width: 0.5px;
}
.servicesPageDisplayDiv .row{
  --bs-gutter-x : 0px !important
}
.cart-img{
  width: 95px;
  height: 95px !important;
  align-self: center;
}
.card button{
  height: 25px;
  width: 100px;
  align-self: center;
}
.variantNameTitle{
  font-size: 12px;
  font-weight: 600;
}
.variantPrice{
  font-size: 12px;
}
.cart-div{
  padding: 10px;
  border-color: #35353662 !important;
  border-radius: 18px;
  border-style:solid;
  border-width: 0.5px;
  align-self: center !important;
}
.cartEmptyText{
  font-size: 12px;
  color: #574c4c;
  font-weight: 500;
}

.addToCartPlusButton{
  border-radius: 55% !important;
  background-color: #a041ff !important;
  font-weight: 900 !important;
}

.cartCounter{
  width: 30px;
  height: 30px;
  border-radius: 9px; 
  background-color: #fff ;
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  font-size: 12px;
  border: 1px solid #504f50;


}